<div class='wein-header'>
    <div class='gs-container'>
        <img class='wein-header__left-image' src='@@assetPath@@/assets/images/left.jpg' />

        <div class='wein-header__content'>
            <h1 class='wein-header__headline'>The Weinstein allegations</h1>
            <p class='wein-header__standfirst'>A list of the accusations made against Hollywood producer Harvey Weinstein. He has denied the most serious accusations and called others inaccurate</p>
            <p class='wein-header__last-updated'>Last updated</p>
        </div>

        <img class='wein-header__main-image' src='@@assetPath@@/assets/images/main.jpg' />
    </div>
</div>