@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Egyp Web-Bold.eot');
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Egyp Web-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Egyp Web-Bold.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Egyp Web-Bold.ttf') format('truetype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Egyp Web-Bold.svg#Guardian Egyp Web-Bold') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Text Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.eot');
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.eot?#iefix') format('embedded-opentype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.ttf') format('truetype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.svg#Guardian Egyp Web-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Sans Web-Regular.eot');
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Sans Web-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Sans Web-Regular.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Sans Web-Regular.ttf') format('truetype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Sans Web-Regular.svg#Guardian Sans Web-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
