.wein-header {
    background-color: $c-black;
    color: $c-white;

    .gs-container {
        display: flex;
        flex-direction: column-reverse;

        @include mq(desktop) {
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
        }
    }
}

.wein-header__left-image {
    display: none;

    @include mq(desktop) {
        display: block;
        flex: 0 0 auto;
    }
}

.wein-header__main-image {
    align-self: center;
    width: calc(100% + 20px);
    height: auto;
    margin-left: -10px;
    margin-right: -10px;

    @include mq(mobileLandscape) {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }

    @include mq(desktop) {
        width: auto;
        margin: 0;
        flex: 1 1 auto;
    }
}

.wein-header__content {
    padding: 6px 0 12px;

    @include mq(desktop) {
        align-self: flex-end;
        padding: 0 20px;
        flex: 1 1 auto;
        min-width: 400px;
        max-width: 480px;
    }
}

.wein-header__headline {
    font-family: 'Guardian Egyptian Web';
    font-weight: 200;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 6px;

    @include mq(desktop) {
        font-size: 64px;
        line-height: 1;
    }
}

.wein-header__standfirst {
    color: $c-blue;
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;

    @include mq(desktop) {
        max-width: 80%;
    }
}

.wein-header__last-updated {
    font-family: 'Guardian Egyptian Web';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;

    @include mq(desktop) {
        padding-bottom: 6px;
    }
}