.mapped-share {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .svg {
        fill: $c-white;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.mapped-share__button {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 4px;
    border-radius: 40px;
    background-color: $c-dark-grey;

    @include mq(tablet) {
        width: 38px;
        height: 38px;
    }

    &:hover {
        background-color: darken($c-dark-grey, 5%);
    }
}

.mapped-share__button--facebook {
    background-color: $c-facebook;

    &:hover {
        background-color: darken($c-facebook, 5%);
    }
}

.mapped-share__button--twitter {
    background-color: $c-twitter;

    &:hover {
        background-color: darken($c-twitter, 5%);
    }
}
